@import '@/styles/Main.scss';

.section {
  display: block;
  padding: 100px 20px 50px;
}

.container {
  @include container;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.image {
  width: 100%;

  @media (min-width: $screen-md) {
    width: 40%;
  }
}

.title {
  @include title;
  text-align: center;
  background: url('../../../assets/brush.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;

  @media (min-width: $screen-md) {
    width: 50%;
  }
}

.text {
  @include text;
}
