@import '@/styles/Main.scss';

.section {
  background-color: $black;
  display: block;
  padding: 100px 20px 100px;
  position: relative;

  @media (min-width: $screen-sm) {
    padding: 150px 20px 150px;
  }

  @media (min-width: $screen-lg) {
    padding: 270px 20px 220px;
  }

  &::before {
    background: url('../../../assets/waves1.svg') no-repeat;
    background-position: top center;
    background-size: 100%;
    content: '';
    height: 300px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -3px;
    width: 100%;
  }

  &::after {
    background: url('../../../assets/waves7.svg') no-repeat;
    background-position: bottom center;
    background-size: 100%;
    bottom: -3px;
    content: '';
    height: 300px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.container {
  @include container;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.title {
  @include title;
  color: $white;
  margin-bottom: 30px;
  text-align: center;
}

.text {
  @include text;
  color: $white;
  max-width: 1000px;
  text-align: center;

  span {
    color: $main-color;
  }
}
