@import '@/styles/Main.scss';

.section {
  display: block;
  padding: 200px 20px 50px;
}

.container {
  @include container;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image {
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $screen-sm) {
    max-width: 90%;
    margin-bottom: 40px;
  }

  &::before {
    border: 2px solid $red;
    border-radius: 12px;
    content: '';
    height: calc(100% + 60px);
    left: -30px;
    position: absolute;
    top: -30px;
    width: 100%;

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  img {
    border-radius: 12px;
    position: relative;
    z-index: 1;
  }
}


.title {
  @include title;
  text-align: center;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  @media (min-width: $screen-md) {
    width: 50%;
  }
}

.text {
  @include text;
}
